.header{
    background-color: #ffffff;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 120px);
    border-radius: 15px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75rem 1.25rem;
    color: var(--font-color);
    height: 72px;
}

.logo img{
    height: 48px;
}

.nav-center ul,
.nav-right ul{
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-right img{
    height: 20px;
}

.nav-right a:hover img{
    opacity: 0.7;
}

.nav-center a,
.nav-right a{
    font-size: 1.25rem;
}

.nav-center a:hover,
.nav-right a:hover{
    color: #7c3aed;
}
