.categories-section{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    
}

.category-card{
    position: relative;
    width: 317px;
    height: 500px;
    border-radius: 16px;
    overflow: hidden;
}

.category-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;

}

.overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.casual{
    background: url(../../images/tenis-casual.jpg) no-repeat center;
    background-size: cover;
}

.esporte{
    background: url(../../images/tenis-esportivo.jpg) no-repeat center;
    background-size: cover;
}

.moderno{
    background: url(../../images/tenis-moderno.jpg) no-repeat center;
    background-size: cover;
}

.futurista{
    background: url(../../images/tenis-futurista.jpg) no-repeat center;
    background-size: cover;
}