/*base.css*/

body{
    font-family: var(--fonte-principal);
    padding: 40px;
}

.btn{
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    font-weight: 400;
    padding: 10px 20px;
    transition: background-color 0.3s, border 0.3s;
    line-height: 28px;
    
}

.btn-outline{
    border: 1px solid #ffffff;
    background: transparent;
    color: #ffffff;
}

.btn-filled{
    color: #6329A2;
    background-color: #ffffff;
    padding: 10px 40px;
}

.btn:hover{
    background-color: #6329A2;
    color: #ffffff;
    border-color: #6329A2;
}